
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */

div {
    width: 25%;
    margin: 5px;
    padding: 5px;
    position: fixed;
}

#one {
    top: 0;
    right: 0;
    border: 5px solid #ff0000;
}

#two {
    top: 0;
    left: 0;
    border: 5px solid blue;
}

#three {
    right: 0;
    bottom: 0;
    border: 5px solid green;
}

#four {
    left: 0;
    bottom: 0;
    border: 5px solid violet;
}

#link {
    text-align: center;
}